@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #080f25;
    color: #aeb9e1;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    width: 270px;
    padding: 20px;
    padding-right: 10px;
    height: 100vh;
    overflow-y: scroll;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #aeb9e1;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #101935;
}

.sidebar .logo {
    margin: 10px 0;
}

.sidebar .searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    background-color: #101935;
    padding: 5px 15px;
    border: 1px solid #343b4f;
    transition: .3s ease all;
    border-radius: 5px;
}

.sidebar .searchbar:hover {
    border: 1px solid #aeb9e1;
    color: white;
}

.sidebar .searchbar input {
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    border-style: none;
    background: none;
    outline-style: none;
    color: white;
}

.sidebar .searchbar input::placeholder {
    color: #aeb9e1;
}

.sidelinks ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
    color: #aeb9e1;
}

.sidelinks ul li a:hover {
    color: white;
}

.sidelinks .left {
    display: flex;
    align-items: center;
}

.sidelinks .left i {
    font-size: 19px;
    margin-right: 10px;
}

.sidelinks .right i {
    font-size: 13px;
}

.settings {
    border-top: 1px solid #343b4f;
    padding-bottom: 20px;
}

.settings .left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* maincontainer */

.maincontainer {
    padding: 40px 20px;
}

.tophead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tophead h2 {
    color: white;
}

.tophead p {
    font-size: 15px;
    text-transform: capitalize;
}


.tophead button {
    padding: 8px 10px;
    margin: 0 10px;
    outline-style: none;
    border-style: none;
    background-color: #212c4d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.tophead button:hover {
    background-color: #6c72ff;
}

.tophead button:last-child {
    background-color: #6c72ff;
}

/* services */

.services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.services .service1 {
    width: 250px;
    border: 1px solid #343b4f;
    padding: 10px 25px;
    background-color: #101935;
    border-radius: 10px;
    cursor: pointer;
}

.services .service1 .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services .service1 .head .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.services .service1 .head p {
    margin-left: 5px;
}

.services .service1 .right {
    display: flex;
    align-items: center;
}

.services .service1 .right p {
    margin-left: 10px;
    color: #14ca74;
    font-size: 14px;
    background-color: rgba(5, 193, 104, .2);
    border: 1px solid rgba(5, 193, 104, .2);
    padding: 1px 2px;
}

.services .service1:nth-child(2) .right p {
    color: #ff5a65;
    background-color: rgba(255, 90, 101, .2);
    border-color: rgba(255, 90, 101, .2);
}

.services .service1 .right h1 {
    color: white;
}

.services .service1:hover {
    border: 1px solid #aeb9e1;
}

.revenuepage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid #343b4f;
    background-color: #101935;
    border-radius: 10px;
}

.totalrevenue {
    border-right: 1px solid #343b4f;
    padding: 30px;
}

.totalrevenue .revenuehead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.totalrevenue .revenuehead .left h2 {
    display: flex;
    align-items: center;
    color: white;
}

.totalrevenue .revenuehead .left span {
    font-size: 11px;
    background-color: rgba(5, 193, 104, .2);
    color: #14ca74;
    padding: 4px 10px;
    margin-left: 5px;
}

.totalrevenue .revenuehead .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.totalrevenue .revenuehead .right h6 {
    background-color: #101935;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #212c4d;
}

.totalrevenue .revenuehead .right h6:hover {
    border: 1px solid #aeb9e1;
}


.profit1 {
    padding: 30px;
    border-bottom: 1px solid #343b4f;
}

.profit1:nth-child(2) {
    border: none;
}

.profit1 .profit h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.profit1 .profit span {
    font-size: 11px;
    background-color: rgba(5, 193, 104, .2);
    color: #14ca74;
    padding: 4px 10px;
    margin-left: 5px;
}

.profit1 .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #343b4f;
    margin-top: 10px;
    padding-top: 10px;
}

/* user by country */

.userbycountry {
    display: grid;
    grid-template-columns: 2fr 3fr;
    border: 1px solid #343b4f;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.userbycountry .right img {
    width: 100%;
}

.userbycountry .left {
    padding: 30px;
    border: 1px solid #343b4f;
}

.userbycountry .left .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.userbycountry .left .heading .leftside h2 {
    display: flex;
    align-items: center;
    color: white;
}

.userbycountry .left .heading .leftside span {
    font-size: 11px;
    background-color: rgba(5, 193, 104, .2);
    color: #14ca74;
    padding: 4px 10px;
    margin-left: 5px;
}

.userbycountry .left .heading button {
    padding: 8px 10px;
    background-color: #6c72ff;
    border-style: none;
    outline-style: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.userbycountry .percentbar .bar {
    height: 5px;
    background-color: #101935;
    margin-bottom: 30px;
}


.userbycountry .percentbar .bar .percentage {
    background-color: #6c72ff;
    height: 5px;
    position: relative;
}

.userbycountry .percentbar .bar .percentage:before {
    content: attr(percent);
    position: absolute;
    bottom: 14px;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: #6c72ff;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    border-radius: 3px;
    color: white;
    transform: translateX(50%);

}

.userbycountry .percentbar .bar .percentage::after {
    content: '';
    position: absolute;
    background-color: #6c72ff;
    height: 15px;
    width: 15px;
    right: 0;
    bottom: 13px;
    transform: translateX(50%) rotate(45deg);
    z-index: -1;
}

.footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #343b4f;
    border-bottom: 1px solid #343b4f;
}